<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ycsx.www.wms">

    <!-- 读区存储的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写区存储的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.UserInfoUpdateActivity" />
        <activity android:name=".activity.UpdatePwdActivity" />

        <service
            android:name=".service.UpdateAppService"
            android:enabled="true" />

        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MajorActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.RolesActivity" />
        <activity android:name=".activity.StockMangerActivity" />
        <activity android:name=".activity.ShopQueryActivity" />
        <activity android:name=".activity.ShopDetailsActivity" />
        <activity android:name=".activity.OrderMangerActivity" />
        <activity android:name=".activity.InStockActivity" />
        <activity android:name=".activity.OutStockActivity" />
        <activity android:name=".activity.OrderQueryActivity" />
        <activity android:name=".activity.OrderListActivity" />
        <activity android:name=".activity.OrderDetailsActivity" />
        <activity android:name=".activity.AchievementActivity" />
        <activity android:name=".activity.MineAchiActivity" />
        <activity android:name=".activity.JuniorAchiActivity" />
        <activity android:name=".activity.SaleInfoActivity" />
        <activity android:name=".activity.AchiInfoActivity" />
        <activity android:name=".activity.ClassifyMangerActivity" />
        <activity android:name=".activity.SubTreasuryActivity" />
        <activity
            android:name=".activity.OpLogActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.SaleOrderActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.MyOrderListActivity" />
        <activity android:name=".activity.ShopAddActivity" />
        <activity android:name=".activity.MyOrderShopActivity" />
        <activity android:name=".activity.LogisticsActivity" />
        <activity
            android:name=".zxing.android.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".activity.LogDetailsActivity" />
        <activity android:name=".activity.ShopClassifyActivity"></activity>
    </application>

</manifest>